.demo {
    background-color: hotpink;
}

.elemA {
    background-color: crimson;
}

.elemB {
    background-color: royalblue;
}

.elemC {
    background-color: khaki;
}


/* .table-striped tbody tr:nth-of-type(odd)  {
    background-color: hotpink;
}

.table-striped tbody tr:nth-of-type(even)  {
    background-color: chartreuse;
}  */


.img-profil {
    width: 200px;
}

.text-small {
    font-size: 0.7em;
}


.dropdown-item:hover, .dropdown-item:focus {
    text-decoration: none;
    background-color: palevioletred;
}


.custom-card .card-img-top {
    height: 10rem;
    object-fit: contain;
}



.carousel-indicators-custom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
  }
  
  .carousel-indicators-custom li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity 0.6s ease;
  }
